.contact-section h2 {
  margin-bottom: var(--l);
}

.contact-template {
  display: grid;
  grid-template-columns: 1fr;
}
.contact-template-left {
  padding: var(--l) var(--m) var(--xxl);
  background-color: var(--light-brown);
}

.contact-template-left h2 {
  font-size: 2em;
  color: var(--orange);
}

.contact-template-right h2 {
  font-size: 2em;
  color: var(--dark-brown);
}

.contact-template-right {
  padding: var(--l) var(--m) var(--xxl);
  background-color: var(--text-color);
}

.contact-template-right input,
.contact-template-right select,
.contact-template-right textarea {
  background-color: transparent;
  border: none;
}

.contact-template-right input:focus,
.contact-template-right select:focus,
.contact-template-right textarea:focus {
  outline: none;
}

.contact-item {
  height: calc(var(--xl)*2);
}

.contact-form {
  display: grid;
  grid-row-gap: var(--m);
}

.contact-fields {
  display: grid;
  grid-row-gap: var(--s);
}

.contact-form .contact-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: calc(var(--xl) * 2);
}

@media (min-width: 576px) {
  .contact-template-right,
  .contact-template-left {
    padding: var(--l) var(--l) var(--xxl);
  }
}

@media (min-width: 768px) {
  .contact-template {
    grid-template-columns: 1fr 1fr;
  }

  .contact-template-right,
  .contact-template-left {
    padding: var(--l) var(--xl) var(--xxl);
  }
}