.index-div {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('./beers-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.index-box {
  width: 100%;
  color: white;
  background-color: rgba(36, 38, 38, 0.9);
  padding: var(--xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* ---- typography ---- */

.index-box h1 {
  color: white;
  font-size: 7em;
  padding-top: var(--xl);
  text-shadow: 2px 3px 10px black;
  padding-bottom: var(--xxs);
}

.index-box h6 {
  padding-bottom: var(--m);
}


/* ---- Components ---- */

.buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: var(--m);
  grid-row-gap: var(--s);
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .index-box {
    padding: var(--xl);
    width: 75%;
    height: 80%;
    margin: auto;
  }

  .buttons-container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1366px) {
  .index-box {
    width: 60%;
    height: 90%;
  }

  .index-box h1 {
    padding-top: var(--xxl);
  }

  .index-box h6 {
    padding-bottom: var(--xl);
  }
}