.beers-div {
  color: white;
}

.beers-div-header h2 {
  display: none;
}

/* --- Search field --- */

.beers-search {
  width: 100%;
}

.beers-search input {
  padding: 0 45px;
}

.search-icon {
  padding: 15px;
  height: var(--l);
  position: absolute;
  min-width: 45px;
  color: var(--lighter-grey);
}

::placeholder {
  color: var(--lighter-grey);
}
:-ms-input-placeholder {
  color: var(--lighter-grey);
}
::-ms-input-placeholder {
  color: var(--lighter-grey);
}

/* --- Beers section --- */

.back-sign {
  font-size: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.beers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- Responsive --- */

@media (max-width: 767px) {
  .beers-screen .outer-content {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .beers-div-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--m);
  }

  .beers-div-header h2 {
    display: inline-block;
  }

  .beers-search {
    width: calc(var(--xxxl) * 2);
  }
}