.beers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-brown);
  border-bottom: 2px solid var(--lighter-brown);
  color: #513e29;
  padding: var(--s);
  transition-duration: 1s;
}

.beers-container:hover {
  color: white;
  background: var(--lighter-brown);
  transition-duration: 0s;
}

.img-name-div {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--s);
  width: 100%;
}

.img-name-div img {
  height: 100%;
}

.arrow {
  font-size: var(--s);
  cursor: pointer;
}

.beer-name {
  overflow: hidden;
}

.beer-name h6 {
  text-transform: uppercase;
}

.beer-name h6, .beer-name p {
  white-space: nowrap;
}

.organic {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* .no-response {
  color: var(--bg);
  padding: var(--l);
  height: 100%;
  width: 100%;
} */

/* @media (max-width: 479px) { */
  /* .beers-container {
    margin: 15px 0;
    padding: 10px;
  } */

  /* .beers-img img {
    padding: 5px;
  } */
/* } */

/* .beers-icon {
  display: flex;
  align-items: center;
} */
/* } */
