.measure-item {
  position: relative;
  z-index: 20;
}

.measure-item h2 {
  color: var(--lighter-brown);
}

.measure-item p {
  color: var(--white);
  letter-spacing: 2px;
}

/* icon */
.measure-icon {
  margin-top: calc(var(--s) + var(--xs));
  font-size: 3.5em;
  opacity: 0.2;
}

.right .measure-icon {
  margin-right: calc(var(--m) + var(--xs));
}

.left .measure-icon {
  margin-left: var(--m);
}

/* text-container */
.measure-item div {
  position: absolute;
  top: 0;
  width: 100%;
}

.right div {
  text-align: right;
}

.left div {
  text-align: left;
}