.menu-item {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: backgroud var(--speed);
  color: var(--text-color);
  margin: 10px 0;
}

.menu-item p {
  padding: 0 var(--s);
  white-space: nowrap;
  font-family: Montserrat-Bold, 'Times Sans Serif', sans-serif;
  color: var(--light-brown);
  text-transform: uppercase;
}

.menu-item .icon-left {
  padding: 5px;
  margin: 2px;
}

.menu-item:hover {
  background-color: #525357;
}
