.beer-page {
  position: relative;
}

.beer-content {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: var(--l);
  grid-template-areas:
    "a"
    "b";
}

.left-beer-content {
  grid-area: a;
}

.left-beer-content h2 {
  font-size: 2em;
  padding-bottom: var(--m);
}

.left-beer-content h6 {
  padding-bottom: var(--m);
}

.headline-row {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--s);
}

.big-label-img {
  grid-area: b;
  width: 100%;
}

.beer-info {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
}

.bottom-beer-content {
  background-color: var(--yellow);
}

/* --- responsive --- */

@media (min-width: 768px) {
  .beer-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: var(--m);
    grid-row-gap: 0;
    grid-template-areas:
    "a b";
  }

  .right-beer-content {
    display: flex;
    align-items: center;  }
}

@media (min-width: 1080px) {
  .beer-content {
    grid-template-columns: 3fr 2fr;
    grid-column-gap: var(--l);
  }
}