.sponsors-container {
  background: #F8DE6E;
  display: flex;
  flex-direction: column;
  padding: var(--m);
}

.sponsors-container span {
  padding-right: var(--m);
}

 .sponsors-container h2 {
  font-size: 2em;
  color: #513E29;
  line-height: 1;
  padding-bottom: var(--m);
}

.sliding-logos {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.logos-container, .logos-container-two {
  display: flex;
  animation: slideshow 72s linear infinite;
}

.logos-container img, .logos-container-two img {
  height: var(--m);
  margin: 0 var(--m);
}

.logos-container-two {
  transform: translateX(100%);
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .sponsors-container {
    flex-direction: row;
    align-items: center;
    padding: var(--l);
  }

  .sponsors-container h2 {
    padding-bottom: 0;
  }

  .sponsors-container span {
    padding-right: var(--l);
  }

  .logos-container img, .logos-container-two img {
    height: var(--l);
    margin: 0 var(--l);
  }
}

@media (min-width: 1080px) {
  .sponsors-container {
    padding: var(--xl);
  }

  .sponsors-container span {
    padding-right: var(--xl);
  }
}