.address-bar {
  background-color: var(--light-brown);
  display: grid;
  grid-row-gap: var(--s);
  grid-template-columns: auto;
}

.left-address-field h4 {
  padding-bottom: var(--s);
}

.right-address-field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--s);
  align-items: center;
}

@media (min-width: 768px) {
  .address-bar {
    grid-template-columns: 2fr 1fr;
  }
}