.about-input {
  position: relative;
  height: calc(var(--xl)*2);
}

.about-input input {
  padding: 0;
}

.about-input input:-webkit-autofill,
.about-input input:-webkit-autofill:hover,
.about-input input:-webkit-autofill:focus,
.about-input input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0 30px var(--text-color) inset !important;
}

.about-input p {
  position: absolute;
  bottom: var(--xxs);
  left: 0;
  color: var(--red);
}

.about-input-field {
  display: flex;
  border: none;
  border-bottom: var(--bg-accent) solid 1px;
  width: 100%;
  padding: var(--xxs) var(--s);
}

#about-input-field {
  width: 100%;
}

.about-input {
  padding-right: 0;
}

.about-input div.alert {
  border-bottom: 1px solid var(--red);
}

div.alert {
  border-bottom: 1px solid var(--red);
}