/* --- left content --- */

.food-section {
  background-image: radial-gradient(circle at 35%, rgba(255, 255, 255, 0.2) 20%, transparent, transparent);
  background-color: var(--bg-accent);
}

.food-content {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: var(--s);
  width: 100%;
  grid-template-areas:
    "a"
    "b"
    "d"
    "c";
}

.left-food-content h2 {
  grid-area: a;
  font-size: 2em;
  padding-bottom: var(--m);
  color: var(--yellow);
}

.left-food-content h6 {
  grid-area: b;
  color: var(--white);
}

.explore-food-button {
  grid-area: c;
}

/* --- right content --- */

.middle-food-content {
  position: relative;
  grid-area: d;
  height: 200px;
  margin-bottom: var(--l);
}

.middle-food-content h1 {
  position: absolute;
  top: 0;
  bottom: -8vw;
  left: 0;
  right: 0;
  color: var(--light-brown);
  opacity: 0.2;
  font-size: 3em;
}

.water-food-image {
  position: absolute;
  top: 2vw;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 25%;
  width: 75%;
}

.chicken-wings-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 55%;
}

/* --- responsive --- */

@media (max-width: 320px) {
  .middle-food-content {
    height: 100px;
    margin-bottom: var(--s);
  }

  .middle-food-content h1 {
    top: -10vw;
    font-size: 1.5em;
  }
}

@media (min-width: 576px) {
  .middle-food-content {
    height: 250px;
    margin-bottom: var(--xl);
  }
}

@media (min-width: 768px) {
  .food-content {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    grid-column-gap: var(--m);
    grid-row-gap: 0;
    grid-template-areas:
    "a d"
    "b d"
    "c d";
  }

  .left-food-content {
    padding-right: var(--m);
  }

  .left-food-content h6 {
    padding-bottom: var(--xl);
  }

  .middle-food-content {
    height: 100%;
    margin-bottom: 0;
  }

  .middle-food-content h1 {
    top: 3vw;
  }
}

@media (min-width: 1080px) {
  .left-food-content {
    width: 90%;
  }

  .middle-food-content h1 {
    bottom: -1vw;
  }
}

@media (min-width: 1920px) {
  .left-food-content {
    width: 75%;
  }
}