/* --- right content --- */

.breweries-section {
  background-image: radial-gradient(circle at 35%, rgba(255, 255, 255, 0.2) 20%, transparent, transparent);
  background-color: var(--light-brown);
  padding: var(--m);
}

.breweries-content {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: var(--s);
  width: 100%;
  grid-template-areas:
    "a"
    "d"
    "e"
    "c";
}

.right-breweries-content {
  grid-area: a;
}

.right-breweries-content h2 {
  text-align: right;
  grid-area: a;
  font-size: 2em;
  color: var(--orange);
  padding-bottom: var(--m);
}

.right-breweries-content h6 {
  text-align: right;
}

.breweries-button {
  grid-area: c;
}

/* --- middle content --- */

.middle-breweries-content {
  position: relative;
  grid-area: d;
  height: 200px;
  margin-bottom: var(--l);
}

.middle-breweries-content h1 {
  position: absolute;
  bottom: -3vw;
  right: 15vw;
  color: var(--medium-brown);
  opacity: 0.3;
  font-size: 2em;
}

.background-color-image {
  position: absolute;
  top: 0;
  left: -7vw;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0.4;
  width: 80%;
}

.brewery-splash-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10vw;
  right: 0;
  margin: auto;
  width: 45%;
}

.barrel-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
}

/* --- left content --- */

.left-breweries-content {
  grid-area: e;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--m);
}

/* --- responsive --- */

@media (max-width: 320px) {
  .middle-breweries-content {
    height: 100px;
    margin-bottom: var(--s);
  }

  .middle-breweries-content h1 {
    bottom: -8vw;
    right: 8vw;
    font-size: 1.5em;
  }
}

@media (min-width: 576px) {
  .middle-breweries-content {
    height: 250px;
    margin-bottom: var(--xl);
  }

  .middle-breweries-content h1 {
    right: 17vw;
    bottom: -6vw;
    font-size: 2.5em;
  }

  .background-color-image {
    width: 70%;
  }

  .brewery-splash-image {
    bottom: 7vw;
    width: 40%;
  }

  .barrel-image {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .breweries-section {
    padding: var(--l);
  }

  .breweries-content {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: var(--m);
    grid-row-gap: 0;
    grid-template-areas:
    "e d a"
    "e d a"
    "e d c";
  }

  .right-breweries-content {
    padding-left: var(--m);
  }

  .right-breweries-content h6 {
    padding-bottom: var(--xl);
  }

  .breweries-button {
    display: flex;
    justify-content: flex-end;
  }

  .background-color-image {
    width: 190%;
  }

  .brewery-splash-image {
    bottom: 10vw;
    width: 140%;
  }

  .barrel-image {
    left: -5vw;
    width: 180%;
  }

  .middle-breweries-content {
    height: 100%;
    margin-bottom: 0;
  }

  .middle-breweries-content h1 {
    bottom: 0;
    right: -10vw;
  }

  .left-breweries-content {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    padding-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .breweries-section {
    padding: var(--xxl);
  }

  .right-breweries-content {
    justify-self: end;
    width: 90%;
  }

  .middle-breweries-content h1 {
    bottom: -1vw;
    right: -8vw;
  }

  .background-color-image {
    left: -10vw;
    width: 190%;
  }

  .brewery-splash-image {
    left: -4vw;
    bottom: 5vw;
    width: 120%;
  }

  .barrel-image {
    left: -9vw;
    width: 190%;
  }
}

@media (min-width: 1920px) {
  .breweries-section {
    padding: var(--xxxl);
  }
  
  .right-breweries-content {
    width: 75%;
  }
}