.footer {
  background-color: var(--bg);
  padding: var(--l) var(--xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s);
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--s);
}

.footer-navbar-menu {
  display: block;
  text-align: center;
}

.footer-navbar-menu p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--light-brown);
  text-transform: uppercase;
  padding: var(--xs) var(--s);
  white-space: nowrap;
}

@media (min-width: 768px) {
  .social-media {
    grid-column-gap: var(--m);
  }
  .footer-navbar-menu {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1080px) {
  .footer {
    padding: var(--xxl);
  }
}

@media (min-width: 1920px) {
  .footer {
    padding: var(--xxxl);
    gap: var(--m);
  }
}