.about {
  background-color: #EEE6DA;
}

.about-us-content {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: var(--m);
  width: auto;
}

.outer-content h2 {
  font-size: 2em;
  color: var(--orange);
}

@media (min-width: 768px) {
  .about {
    padding: 45px;
  }

  .about-us-content {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1080px) {
  .about {
    padding: 60px;
  }

  .about-us-content {
    grid-template-columns: auto auto auto auto;
  }
}