.about-us-content {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: var(--m);
  width: auto;
}

@media (min-width: 768px) {
  .about-us-content {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1080px) {
  .about-us-content {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1920px) {
  .about-us-content {
    grid-column-gap: var(--xl);
  }
}