/* --- Search field --- */

.breweries-search {
  width: 100%;
}

.breweries-search input {
  padding: 0 var(--l);
}

.search-icon {
  padding: var(--s);
  height: var(--l);
  position: absolute;
  min-width: var(--l);
  color: var(--lighter-grey);
}

::placeholder {
  color: var(--lighter-grey);
}
:-ms-input-placeholder {
  color: var(--lighter-grey);
}
::-ms-input-placeholder {
  color: var(--lighter-grey);
}

/* --- Responsive --- */

@media (max-width: 767px) {
  .breweries-screen .outer-content {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .breweries-search {
    width: calc(var(--xxxl) * 2);
  }

  .breweries-searchboxes {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--l);
    margin-bottom: var(--m);
  }
}