.home-container {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#eee6da, #d2bb93);
  border-bottom: 1px solid var(--medium-brown);
  color: var(--bg-accent);
  height: 90px;
  transition-duration: 1s;
  width: 100%;
}

.home-container:hover {
  color: white;
  background-image: linear-gradient(#d2bb93, #eee6da);
  transition-duration: 0s;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-icon {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .home-container {
    padding: 15px 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .home-container {
    padding: 15px 20px;
  }
}

@media (max-width: 479px) {
  .home-container {
    padding: 10px;
  }
}