.dropdown {
  position: absolute;
  top: var(--nav-size);
  width: 220px;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  overflow: hidden;
  z-index: 10;
}

.hi-user {
  color: var(--text-color);
  padding: 0.5rem 0;
  margin: 7px 0;

}

.dropdownRight {
  right: 0;
}

.dropdownLeft {
  left: 0;
}