.dropdown {
  position: absolute;
  top: var(--nav-size);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  /* overflow: hidden; */
  z-index: 10;
  width: auto;
}

.hi-user {
  color: var(--text-color);
  padding: 0.5rem 0;
  margin: 7px 0;
  white-space: nowrap;
}

.dropdownRight {
  right: 0;
}

.dropdownLeft {
  left: 0;
}

@media (min-width: 768px) {
  .dropdown {
    padding: 1rem 2rem;
  }
}

@media (min-width: 1080px) {
  /* .dropdown {
    padding: 1rem 2rem;
  } */
}

@media (min-width: 1920px) {
  /* .dropdown {
    padding: 1rem 2rem;
  } */
}